In [3]:
"""
CommandCenter File
read from influx and publish to mqtt broker
"""

# Importing relevant modules
import os
from dotenv import load_dotenv
from influxdb_client import InfluxDBClient, Point, Dialect
from influxdb_client.client.write_api import ASYNCHRONOUS
import paho.mqtt.client as mqtt
import time
import json
import requests
import pandas as pd

# Load environment variables from ".env"
load_dotenv()

# InfluxDB config
BUCKET = 'fullstack-influxdb' #  bucket is a named location where time series data is stored.
url = 'https://iot-group2-service1.iotcloudserve.net/'
token ='Dwj0HPIYScc1zvkB0zHpjxIVIssU_z_-unniio7sOcZl135FZ40ONj9ZX6jgiBWqkwpOQegRAL21Ix1z86SBJw=='
org = 'Chulalongkorn'
print("connecting to",url)

client = InfluxDBClient(

    url= url,
    token= token,
    org= 'Chulalongkorn'
)
write_api = client.write_api()
query_api = client.query_api()



csv_result = query_api.query_csv('from(bucket:"fullstack-influxdb") |> range(start: -10m)',
                                 dialect=Dialect(header=False, delimiter=",", comment_prefix="#", annotations=[],
                                                 date_time_format="RFC3339"))


df = pd.DataFrame(csv_result)
print("Successfully convert to DataFrame")
print(df.iloc[:-5])
#df.to_csv('RaspberryPi/CommandCenter/12_5_12_50.csv', index=False)

client.close()

connecting to https://iot-group2-service1.iotcloudserve.net/
Successfully convert to DataFrame
      0        1     2                               3   \
0         _result     0  2024-05-12T07:50:06.743874343Z
1         _result     0  2024-05-12T07:50:06.743874343Z
2         _result     0  2024-05-12T07:50:06.743874343Z
3         _result     0  2024-05-12T07:50:06.743874343Z
4         _result     0  2024-05-12T07:50:06.743874343Z
...   ..      ...   ...                             ...
88650     _result  1474  2024-05-12T07:50:06.743874343Z
88651     _result  1474  2024-05-12T07:50:06.743874343Z
88652     _result  1474  2024-05-12T07:50:06.743874343Z
88653     _result  1474  2024-05-12T07:50:06.743874343Z
88654     _result  1474  2024-05-12T07:50:06.743874343Z

                                   4                               5      6   \
0      2024-05-12T08:00:06.743874343Z  2024-05-12T07:50:11.713829088Z  71031
1      2024-05-12T08:00:06.743874343Z  2024-05-12T07:50:21.719524009Z  71045
2      2024-05-12T08:00:06.743874343Z  2024-05-12T07:50:31.722672013Z  71055
3      2024-05-12T08:00:06.743874343Z  2024-05-12T07:50:41.714101733Z  71065
4      2024-05-12T08:00:06.743874343Z  2024-05-12T07:50:51.718432371Z  71071
...                               ...                             ...    ...
88650  2024-05-12T08:00:06.743874343Z  2024-05-12T07:58:31.722145113Z      0
88651  2024-05-12T08:00:06.743874343Z  2024-05-12T07:58:41.713356975Z      0
88652  2024-05-12T08:00:06.743874343Z  2024-05-12T07:58:51.714204587Z      0
88653  2024-05-12T08:00:06.743874343Z  2024-05-12T07:59:01.709196256Z      0
88654  2024-05-12T08:00:06.743874343Z  2024-05-12T07:59:11.712228657Z      0

            7                                    8     9     10    11    12  \
0      counter                   boltdb_reads_total  None  None  None  None
1      counter                   boltdb_reads_total  None  None  None  None
2      counter                   boltdb_reads_total  None  None  None  None
3      counter                   boltdb_reads_total  None  None  None  None
4      counter                   boltdb_reads_total  None  None  None  None
...        ...                                  ...   ...   ...   ...   ...
88650  counter  task_scheduler_total_schedule_fails  None  None  None  None
88651  counter  task_scheduler_total_schedule_fails  None  None  None  None
88652  counter  task_scheduler_total_schedule_fails  None  None  None  None
88653  counter  task_scheduler_total_schedule_fails  None  None  None  None
88654  counter  task_scheduler_total_schedule_fails  None  None  None  None

         13    14
0      None  None
1      None  None
2      None  None
3      None  None
4      None  None
...     ...   ...
88650  None  None
88651  None  None
88652  None  None
88653  None  None
88654  None  None

[88655 rows x 15 columns]

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,,_result,0,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T07:50:11.713829088Z,71031,counter,boltdb_reads_total,None,None,None,None,None,None
1,,_result,0,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T07:50:21.719524009Z,71045,counter,boltdb_reads_total,None,None,None,None,None,None
2,,_result,0,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T07:50:31.722672013Z,71055,counter,boltdb_reads_total,None,None,None,None,None,None
3,,_result,0,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T07:50:41.714101733Z,71065,counter,boltdb_reads_total,None,None,None,None,None,None
4,,_result,0,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T07:50:51.718432371Z,71071,counter,boltdb_reads_total,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88655,,_result,1474,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T07:59:21.715509511Z,0,counter,task_scheduler_total_schedule_fails,None,None,None,None,None,None
88656,,_result,1474,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T07:59:31.719309994Z,0,counter,task_scheduler_total_schedule_fails,None,None,None,None,None,None
88657,,_result,1474,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T07:59:41.718469411Z,0,counter,task_scheduler_total_schedule_fails,None,None,None,None,None,None
88658,,_result,1474,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T07:59:51.714311255Z,0,counter,task_scheduler_total_schedule_fails,None,None,None,None,None,None
88659,,_result,1474,2024-05-12T07:50:06.743874343Z,2024-05-12T08:00:06.743874343Z,2024-05-12T08:00:01.739586595Z,0,counter,task_scheduler_total_schedule_fails,None,None,None,None,None,None

In [22]:
"""
CommandCenter File
read from influx and publish to mqtt broker
"""

# Importing relevant modules
import os
from dotenv import load_dotenv
from influxdb_client import InfluxDBClient, Point, Dialect
from influxdb_client.client.write_api import ASYNCHRONOUS
import paho.mqtt.client as mqtt
import time
import json
import requests
import pandas as pd

# Load environment variables from ".env"
load_dotenv()

# InfluxDB config
BUCKET = 'fullstack-influxdb' #  bucket is a named location where time series data is stored.
url = 'https://iot-group2-service1.iotcloudserve.net/'
token ='Dwj0HPIYScc1zvkB0zHpjxIVIssU_z_-unniio7sOcZl135FZ40ONj9ZX6jgiBWqkwpOQegRAL21Ix1z86SBJw=='
org = 'Chulalongkorn'
print("connecting to",url)

client = InfluxDBClient(

    url= url,
    token= token,
    org= 'Chulalongkorn'
)
write_api = client.write_api()
query_api = client.query_api()

#"temp_sht4x": 34.64,"humid_sht4x": 36.80,"temp_bmp280": 35.90,"pressure_bmp280": 1006.34}


query2 = 'from(bucket: "fullstack-influxdb")\
    |> range(start: -1h) \
    |> filter(fn: (r) => r._measurement == "sensor_data")\
    |> filter(fn: (r) => r._field == "humid_sht4x" or r._field == "pressure_bmp280" or r._field == "temp_bmp280" or r._field == "temp_sht4x")\
    |> pivot(rowKey: ["_time"], columnKey: ["_field"], valueColumn: "_value")'


csv_result = query_api.query_csv(query2,
                                 dialect=Dialect(header=False, delimiter=",", comment_prefix="#", annotations=[],
                                                 date_time_format="RFC3339"))


#csv_result =  query_api.query_csv(query2)
df1 = pd.DataFrame(csv_result)
print("Successfully convert to DataFrame")
print(df1.iloc[:-5])
#df.to_csv('RaspberryPi/CommandCenter/12_5_12_50.csv', index=False)

client.close()

connecting to https://iot-group2-service1.iotcloudserve.net/
Successfully convert to DataFrame
   0        1  2                               3   \
0      _result  0  2024-05-12T10:53:33.884412605Z
1      _result  0  2024-05-12T10:53:33.884412605Z
2      _result  0  2024-05-12T10:53:33.884412605Z
3      _result  0  2024-05-12T10:53:33.884412605Z
4      _result  0  2024-05-12T10:53:33.884412605Z
5      _result  0  2024-05-12T10:53:33.884412605Z
6      _result  0  2024-05-12T10:53:33.884412605Z
7      _result  0  2024-05-12T10:53:33.884412605Z
8      _result  0  2024-05-12T10:53:33.884412605Z
9      _result  0  2024-05-12T10:53:33.884412605Z
10     _result  0  2024-05-12T10:53:33.884412605Z
11     _result  0  2024-05-12T10:53:33.884412605Z
12     _result  0  2024-05-12T10:53:33.884412605Z
13     _result  0  2024-05-12T10:53:33.884412605Z
14     _result  0  2024-05-12T10:53:33.884412605Z
15     _result  0  2024-05-12T10:53:33.884412605Z
16     _result  0  2024-05-12T10:53:33.884412605Z
17     _result  0  2024-05-12T10:53:33.884412605Z
18     _result  0  2024-05-12T10:53:33.884412605Z
19     _result  0  2024-05-12T10:53:33.884412605Z
20     _result  0  2024-05-12T10:53:33.884412605Z

                                4                               5   \
0   2024-05-12T11:53:33.884412605Z  2024-05-12T10:53:45.588537053Z
1   2024-05-12T11:53:33.884412605Z  2024-05-12T10:53:51.613988144Z
2   2024-05-12T11:53:33.884412605Z   2024-05-12T10:53:57.61198143Z
3   2024-05-12T11:53:33.884412605Z  2024-05-12T10:54:13.622671723Z
4   2024-05-12T11:53:33.884412605Z  2024-05-12T10:54:21.703958997Z
5   2024-05-12T11:53:33.884412605Z  2024-05-12T10:54:26.663032361Z
6   2024-05-12T11:53:33.884412605Z  2024-05-12T10:54:32.672608984Z
7   2024-05-12T11:53:33.884412605Z  2024-05-12T10:54:37.742793717Z
8   2024-05-12T11:53:33.884412605Z  2024-05-12T10:54:43.742632598Z
9   2024-05-12T11:53:33.884412605Z  2024-05-12T10:54:49.818287881Z
10  2024-05-12T11:53:33.884412605Z  2024-05-12T10:54:55.754040616Z
11  2024-05-12T11:53:33.884412605Z  2024-05-12T10:55:00.725484627Z
12  2024-05-12T11:53:33.884412605Z  2024-05-12T10:55:06.746710874Z
13  2024-05-12T11:53:33.884412605Z  2024-05-12T10:55:12.807472377Z
14  2024-05-12T11:53:33.884412605Z  2024-05-12T10:55:18.887782633Z
15  2024-05-12T11:53:33.884412605Z  2024-05-12T10:55:23.782053825Z
16  2024-05-12T11:53:33.884412605Z  2024-05-12T10:55:39.844987073Z
17  2024-05-12T11:53:33.884412605Z  2024-05-12T10:55:50.836357844Z
18  2024-05-12T11:53:33.884412605Z  2024-05-12T10:55:56.887656599Z
19  2024-05-12T11:53:33.884412605Z  2024-05-12T10:56:01.853362292Z
20  2024-05-12T11:53:33.884412605Z  2024-05-12T10:56:07.879904228Z

             6      7        8      9      10
0   sensor_data   41.1  1005.87  35.55  33.92
1   sensor_data  40.96  1005.85  35.54  34.02
2   sensor_data  40.91  1005.87   35.6  34.12
3   sensor_data  40.82  1005.82  35.56  34.03
4   sensor_data  40.92  1005.88   35.5  34.06
5   sensor_data  40.81  1005.88  35.37  34.21
6   sensor_data  40.76  1005.88  35.41   34.3
7   sensor_data  40.89  1005.87  35.35     34
8   sensor_data  40.98   1005.9  35.44  33.84
9   sensor_data  41.34  1005.88  35.48  33.63
10  sensor_data  41.64  1005.88  35.38  33.58
11  sensor_data   41.5  1005.89   35.4  33.89
12  sensor_data  41.13  1005.88  35.43  34.05
13  sensor_data  41.18  1005.87  35.49  33.96
14  sensor_data  41.26  1005.93  35.42  33.88
15  sensor_data  41.17  1005.88  35.37  34.13
16  sensor_data   40.9  1005.93  35.34  34.32
17  sensor_data  40.62  1005.92  35.34   34.5
18  sensor_data  40.48  1005.97  35.29  34.56
19  sensor_data  40.39  1005.94  35.17   34.6
20  sensor_data   40.3  1005.98  35.27   34.7

In [23]:
pd.set_option('display.max_columns', None)
df1.head()

,0,1,2,3,4,5,6,7,8,9,10
0,,_result,0,2024-05-12T10:53:33.884412605Z,2024-05-12T11:53:33.884412605Z,2024-05-12T10:53:45.588537053Z,sensor_data,41.1,1005.87,35.55,33.92
1,,_result,0,2024-05-12T10:53:33.884412605Z,2024-05-12T11:53:33.884412605Z,2024-05-12T10:53:51.613988144Z,sensor_data,40.96,1005.85,35.54,34.02
2,,_result,0,2024-05-12T10:53:33.884412605Z,2024-05-12T11:53:33.884412605Z,2024-05-12T10:53:57.61198143Z,sensor_data,40.91,1005.87,35.6,34.12
3,,_result,0,2024-05-12T10:53:33.884412605Z,2024-05-12T11:53:33.884412605Z,2024-05-12T10:54:13.622671723Z,sensor_data,40.82,1005.82,35.56,34.03
4,,_result,0,2024-05-12T10:53:33.884412605Z,2024-05-12T11:53:33.884412605Z,2024-05-12T10:54:21.703958997Z,sensor_data,40.92,1005.88,35.5,34.06

In [24]:
columns_to_keep = [5, 7, 8, 9, 10]
df2 = df1[df1.columns[columns_to_keep]]
df2

                                5      7        8      9      10
0   2024-05-12T10:53:45.588537053Z   41.1  1005.87  35.55  33.92
1   2024-05-12T10:53:51.613988144Z  40.96  1005.85  35.54  34.02
2    2024-05-12T10:53:57.61198143Z  40.91  1005.87   35.6  34.12
3   2024-05-12T10:54:13.622671723Z  40.82  1005.82  35.56  34.03
4   2024-05-12T10:54:21.703958997Z  40.92  1005.88   35.5  34.06
5   2024-05-12T10:54:26.663032361Z  40.81  1005.88  35.37  34.21
6   2024-05-12T10:54:32.672608984Z  40.76  1005.88  35.41   34.3
7   2024-05-12T10:54:37.742793717Z  40.89  1005.87  35.35     34
8   2024-05-12T10:54:43.742632598Z  40.98   1005.9  35.44  33.84
9   2024-05-12T10:54:49.818287881Z  41.34  1005.88  35.48  33.63
10  2024-05-12T10:54:55.754040616Z  41.64  1005.88  35.38  33.58
11  2024-05-12T10:55:00.725484627Z   41.5  1005.89   35.4  33.89
12  2024-05-12T10:55:06.746710874Z  41.13  1005.88  35.43  34.05
13  2024-05-12T10:55:12.807472377Z  41.18  1005.87  35.49  33.96
14  2024-05-12T10:55:18.887782633Z  41.26  1005.93  35.42  33.88
15  2024-05-12T10:55:23.782053825Z  41.17  1005.88  35.37  34.13
16  2024-05-12T10:55:39.844987073Z   40.9  1005.93  35.34  34.32
17  2024-05-12T10:55:50.836357844Z  40.62  1005.92  35.34   34.5
18  2024-05-12T10:55:56.887656599Z  40.48  1005.97  35.29  34.56
19  2024-05-12T10:56:01.853362292Z  40.39  1005.94  35.17   34.6
20  2024-05-12T10:56:07.879904228Z   40.3  1005.98  35.27   34.7
21  2024-05-12T10:56:13.885392082Z  40.17  1005.96  35.31  34.74
22  2024-05-12T10:56:31.916685185Z   40.1  1005.92  35.41  34.78
23  2024-05-12T10:56:37.926985401Z  40.14  1005.92  35.44  34.72
24  2024-05-12T10:56:42.955890003Z  40.17  1005.92  35.45  34.74
25  2024-05-12T10:56:58.967266003Z   40.2  1005.89  35.38  34.74

In [29]:
new_column_names = ['time', 'humid_sht4x', 'pressure_bmp280', 'temp_bmp280', 'temp_sht4x']

# Rename the columns
df3 = df2.rename(columns=dict(zip(df2.columns, new_column_names)), inplace=False)
df3

,time,humid_sht4x,pressure_bmp280,temp_bmp280,temp_sht4x
0,2024-05-12T10:53:45.588537053Z,41.1,1005.87,35.55,33.92
1,2024-05-12T10:53:51.613988144Z,40.96,1005.85,35.54,34.02
2,2024-05-12T10:53:57.61198143Z,40.91,1005.87,35.6,34.12
3,2024-05-12T10:54:13.622671723Z,40.82,1005.82,35.56,34.03
4,2024-05-12T10:54:21.703958997Z,40.92,1005.88,35.5,34.06
5,2024-05-12T10:54:26.663032361Z,40.81,1005.88,35.37,34.21
6,2024-05-12T10:54:32.672608984Z,40.76,1005.88,35.41,34.3
7,2024-05-12T10:54:37.742793717Z,40.89,1005.87,35.35,34
8,2024-05-12T10:54:43.742632598Z,40.98,1005.9,35.44,33.84
9,2024-05-12T10:54:49.818287881Z,41.34,1005.88,35.48,33.63
10,2024-05-12T10:54:55.754040616Z,41.64,1005.88,35.38,33.58
11,2024-05-12T10:55:00.725484627Z,41.5,1005.89,35.4,33.89
12,2024-05-12T10:55:06.746710874Z,41.13,1005.88,35.43,34.05
13,2024-05-12T10:55:12.807472377Z,41.18,1005.87,35.49,33.96
14,2024-05-12T10:55:18.887782633Z,41.26,1005.93,35.42,33.88
15,2024-05-12T10:55:23.782053825Z,41.17,1005.88,35.37,34.13
16,2024-05-12T10:55:39.844987073Z,40.9,1005.93,35.34,34.32
17,2024-05-12T10:55:50.836357844Z,40.62,1005.92,35.34,34.5
18,2024-05-12T10:55:56.887656599Z,40.48,1005.97,35.29,34.56
19,2024-05-12T10:56:01.853362292Z,40.39,1005.94,35.17,34.6
20,2024-05-12T10:56:07.879904228Z,40.3,1005.98,35.27,34.7
21,2024-05-12T10:56:13.885392082Z,40.17,1005.96,35.31,34.74
22,2024-05-12T10:56:31.916685185Z,40.1,1005.92,35.41,34.78
23,2024-05-12T10:56:37.926985401Z,40.14,1005.92,35.44,34.72
24,2024-05-12T10:56:42.955890003Z,40.17,1005.92,35.45,34.74
25,2024-05-12T10:56:58.967266003Z,40.2,1005.89,35.38,34.74

In [31]:
# Convert 'time' column to datetime format
df3['time'] = pd.to_datetime(df3['time'])

# Format 'time' column as desired
df3['time'] = df3['time'].dt.strftime('%Y/%m/%d %H:%M:%S')
df3

                   time humid_sht4x pressure_bmp280 temp_bmp280 temp_sht4x
0   2024/05/12 10:53:45        41.1         1005.87       35.55      33.92
1   2024/05/12 10:53:51       40.96         1005.85       35.54      34.02
2   2024/05/12 10:53:57       40.91         1005.87        35.6      34.12
3   2024/05/12 10:54:13       40.82         1005.82       35.56      34.03
4   2024/05/12 10:54:21       40.92         1005.88        35.5      34.06
5   2024/05/12 10:54:26       40.81         1005.88       35.37      34.21
6   2024/05/12 10:54:32       40.76         1005.88       35.41       34.3
7   2024/05/12 10:54:37       40.89         1005.87       35.35         34
8   2024/05/12 10:54:43       40.98          1005.9       35.44      33.84
9   2024/05/12 10:54:49       41.34         1005.88       35.48      33.63
10  2024/05/12 10:54:55       41.64         1005.88       35.38      33.58
11  2024/05/12 10:55:00        41.5         1005.89        35.4      33.89
12  2024/05/12 10:55:06       41.13         1005.88       35.43      34.05
13  2024/05/12 10:55:12       41.18         1005.87       35.49      33.96
14  2024/05/12 10:55:18       41.26         1005.93       35.42      33.88
15  2024/05/12 10:55:23       41.17         1005.88       35.37      34.13
16  2024/05/12 10:55:39        40.9         1005.93       35.34      34.32
17  2024/05/12 10:55:50       40.62         1005.92       35.34       34.5
18  2024/05/12 10:55:56       40.48         1005.97       35.29      34.56
19  2024/05/12 10:56:01       40.39         1005.94       35.17       34.6
20  2024/05/12 10:56:07        40.3         1005.98       35.27       34.7
21  2024/05/12 10:56:13       40.17         1005.96       35.31      34.74
22  2024/05/12 10:56:31        40.1         1005.92       35.41      34.78
23  2024/05/12 10:56:37       40.14         1005.92       35.44      34.72
24  2024/05/12 10:56:42       40.17         1005.92       35.45      34.74
25  2024/05/12 10:56:58        40.2         1005.89       35.38      34.74