In [58]:
import os
from dotenv import load_dotenv
from influxdb_client import InfluxDBClient, Point, Dialect
from influxdb_client.client.write_api import ASYNCHRONOUS
import paho.mqtt.client as mqtt
import time
import json
import requests
import pandas as pd

# Load environment variables from ".env"
load_dotenv()

# InfluxDB config
BUCKET = 'fullstack-influxdb' #  bucket is a named location where time series data is stored.
url = 'https://iot-group2-service1.iotcloudserve.net/'
token ='Dwj0HPIYScc1zvkB0zHpjxIVIssU_z_-unniio7sOcZl135FZ40ONj9ZX6jgiBWqkwpOQegRAL21Ix1z86SBJw=='
org = 'Chulalongkorn'
print("connecting to",url)

client = InfluxDBClient(

    url= url,
    token= token,
    org= 'Chulalongkorn'
)


write_api = client.write_api()

df = pd.read_csv('cucumber_data.csv')

# for index, value in df['predict'].iteritems():
#     # publish the data to MQTT Broker
#     datastr = f"Time: {index}, Value: {value}"
#     point = Point("sensor_data")\
#         .field("predict")
#     write_api.write(BUCKET, org, point)


# for index, value in df['predict'].iteritems():
#     # publish the data to MQTT Broker
#     datastr = f"Time: {index}, Value: {value}"
#     point = Point("sensor_data")\
#         .field("predict")
#     write_api.write(BUCKET, org, point)


    # result = mqttc.publish(MQTT_SUBSCRIBE_TOPIC, datastr)
    # status = result[0]
    # if status == 0:
    #     print(f"Send `{datastr}` to topic `{MQTT_SUBSCRIBE_TOPIC}`")
    # else:
    #     print(f"Failed to send message to topic {MQTT_SUBSCRIBE_TOPIC}")

connecting to https://iot-group2-service1.iotcloudserve.net/

In [59]:
df

,time,humid_sht4x,pressure_bmp280,temp_bmp280,temp_sht4x
0,2024/04/01 23:41:00,56.32,1009.07,38.510,38.450
1,2024/04/01 23:42:00,53.05,1009.09,39.710,39.930
2,2024/04/01 23:43:00,51.33,1009.10,40.500,40.760
3,2024/04/01 23:44:00,49.77,1009.01,41.110,41.430
4,2024/04/01 23:45:00,48.85,1009.03,41.490,41.860
...,...,...,...,...,...
4544,2024/04/05 09:02:00,44.28,1010.10,46.620,43.660
4545,2024/04/05 09:05:00,44.13,1010.12,46.605,43.785
4546,2024/04/05 09:06:00,44.19,1010.10,46.710,43.720
4547,2024/04/05 09:07:00,44.08,1010.09,46.510,43.900
4548,2024/04/05 09:09:00,44.01,1010.17,46.670,43.830

In [64]:
from datetime import datetime
df['time'] = df['time'].apply(lambda x: datetime.strptime(x, "%Y/%m/%d %H:%M:%S").strftime("%Y-%m-%dT%H:%M:%S.%fZ"))

In [75]:
df

,time,humid_sht4x,pressure_bmp280,temp_bmp280,temp_sht4x
0,2024-04-01T23:41:00.000000Z,56.32,1009.07,38.510,38.450
1,2024-04-01T23:42:00.000000Z,53.05,1009.09,39.710,39.930
2,2024-04-01T23:43:00.000000Z,51.33,1009.10,40.500,40.760
3,2024-04-01T23:44:00.000000Z,49.77,1009.01,41.110,41.430
4,2024-04-01T23:45:00.000000Z,48.85,1009.03,41.490,41.860
...,...,...,...,...,...
4544,2024-04-05T09:02:00.000000Z,44.28,1010.10,46.620,43.660
4545,2024-04-05T09:05:00.000000Z,44.13,1010.12,46.605,43.785
4546,2024-04-05T09:06:00.000000Z,44.19,1010.10,46.710,43.720
4547,2024-04-05T09:07:00.000000Z,44.08,1010.09,46.510,43.900
4548,2024-04-05T09:09:00.000000Z,44.01,1010.17,46.670,43.830

In [78]:
print(type(df['time'][0]))

<class 'str'>

In [91]:
from datetime import datetime
from influxdb_client import InfluxDBClient, Point, WritePrecision

# for index, value in df['predict'].iteritems():
for index, row in df.iterrows():
    #print(row['time'], row['humid_sht4x'])

    # point = Point("sensor_data")\
    #     .field("fake", row['humid_sht4x'])\
    #     .time(str(row['time']), WritePrecision.S)
    # print(type(row['time']))
    # print(type(row['humid_sht4x']))
    point = Point("sensor_data")\
        .field("fakekrub1", 556)\
        .time('2024-05-12T20:42:00.000000Z')
  

    write_api.write(BUCKET, org, point)
    break


    # Concatenate the strings in the desired format
    #datastr = f"Time: {value['Date']} {value['Time']}, S1_Temp: {value['S1_Temp']}"
    #print(datastr)

    #timekey = f"Time: {value['Date']} {value['Time']}"

    

    # Define the format of the input string
    #date_format = "%Y/%m/%d %H:%M:%S"

    # Convert the string to a datetime object
    # date_object = datetime.strptime(time, date_format)

    #print(time)
    #print(date_object)
    # data = {timekey: value['Time'], 'S1_Temp': value['S1_Temp']}
    # jsonstr = json.dumps(data)
    # print(jsonstr)
    #print(type(value['S1_Temp']))

0 25.38
Time: 0, Value: 25.38